html
  head
    base(href='/')
    meta(charset='utf-8')
    title NDX APP MONITOR
    meta(name='description', content='')
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")

    // bower:css 
    // endbower 
    // injector:css 
    // endinjector 
    link(rel='stylesheet', href='../../bower/humane-js/themes/libnotify.css')
  body(ng-app='appMon')
    .view(ui-view='')

    // bower:js 
    // endbower 
    // injector:js 
    // endinjector 